.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logout-btn {
  background: #6a11cb;
  color: white;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.logout-btn:hover {
  background: #4a0f9e;
}
